body {
  font-family: "Poppins", sans-serif;
  background: #f6f7f9;
  margin: 0;
  color: #333;
}
.main-layout {
  min-height: 80vh;
  padding: 2rem;
}
.header,
.footer {
  text-align: center;
  background: #282c34;
  color: white;
  padding: 1rem 0;
}
button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.counter-container {
  text-align: center;
  margin-top: 2rem;
}
.person-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

@media (min-width: 600px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
}

@media (min-width: 900px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
