body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.frame {
  border: 2px solid #35357d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
